<div class="input-output-container">
    <div class="feature-select-wrapper">
        <gherkin-step-definition-generator-feature-select></gherkin-step-definition-generator-feature-select>
    </div>
    <div class="generator-actions-wrapper">
        <!--   <gherkin-step-definition-generator-generator-actions></gherkin-step-definition-generator-generator-actions> -->
    </div>
    <div class="definition-output-wrapper">
        <!-- <gherkin-step-definition-generator-definition-output></gherkin-step-definition-generator-definition-output> -->
    </div>
</div>