@import "variables.scss";

.feature-select-container {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;

    padding: 16px;
}

.feature-content-wrapper {
    font-size: 15px;

    background-color: $color-dark-300;
    border-radius: 5px;
    padding: 8px;

    height: 100%;
    overflow-y: auto;

    box-shadow: 2px 2px 9px 1px #0000004a;
}

.file-picker-wrapper {
    padding: 16px 0;
}

.empty-content-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: $color-font-dark;

    .empty-content-text {
        outline: 2px dashed;
        outline-offset: 64px;
    }
}
