@use "mixins";
@import "variables.scss";
.generator-actions-wrapper {
    height: 100%;
    width: 100%;

    padding: 84px 0 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-action-wrapper {
    width: 100%;

    &:not(:first-child) {
        margin-top: 16px;
    }

    button {
        display: block;
        width: 100%;
    }
}
