.banner-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;

    width: 500px;

    margin: 64px auto;
}

.banner-text {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: left;

    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;

    span {
        font-weight: initial;
    }
}

.banner-logo {
    img {
        width: 100%;
    }
}
