<div class="feature-select-container">

    <div class="feature-select-header">
        <div class="file-picker-wrapper">
            <gherkin-step-definition-generator-file-picker (fileSelected)="onFileSelected($event)"
                [buttonLabel]="chooseFileLabel$ | async" [buttonColor]="'accent'" [acceptFileTypes]="'.feature'">
            </gherkin-step-definition-generator-file-picker>
        </div>

        <!--  <div class="feature-select-file-name" *ngIf="featureFileName$ | async as featureFileName">

            <span>{{featureFileName}}</span>

        </div> -->
    </div>



    <!--  <div class="feature-content-wrapper">
        <div *ngIf="(featureTextContent$ | async) as featureContent;else noContent">
            <quill-view [content]="featureContent | highlight: 'gherkin'" theme="snow" [format]="'html'"></quill-view>
        </div>
    </div> -->

    <ng-template #noContent>
        <div class="empty-content-wrapper">
            <div class="empty-content-text">
                <h3>No file selected</h3>
            </div>
        </div>
    </ng-template>
</div>