@use "mixins";
@import "variables";

.feature-select-container {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;

    padding: 16px;
}

.feature-content-wrapper {
    font-size: 15px;

    background-color: $color-dark-200;

    padding: 8px;

    height: 100%;
    overflow-y: auto;

    @include mixins.roundedCorners;
    @include mixins.boxShadow;
}

.file-picker-wrapper {
    padding: 16px 0;

    display: flex;
}

.empty-content-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: $color-font-dark;

    .empty-content-text {
        outline: 2px dashed;
        outline-offset: 48px;
    }
}

.feature-select-header {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 16px;
    align-items: center;
}

.feature-select-file-name {
    font-size: 1rem;
    font-weight: bold;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
