/* You can add global styles to this file, and also import other style files */
@import "~quill/dist/quill.snow.css";
@import "@angular/material/prebuilt-themes/purple-green.css";
@import "highlight.js/styles/obsidian.css";

@import "assets/styles/variables.scss";

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    font-family: sans-serif;
    color: $color-light-100;

    height: 100%;
    position: relative;
}
